# Python bytecode:
*.py[co]

# Packaging files:
*.egg*
dist/

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log


settings_local.py
bet_engine/static_root
